@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Poppins", serif;
}

svg {
  width: 24px;
}

.contact svg {
  width: 32px;
}

.whychooseus svg {
  width: 32px;
}

.container {
  /* padding-left: 10vh !important; */
  /* padding-right: 10vh !important; */
  /* max-width: 1536px !important; */
}

.service-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("/images/servicebanner.png") center center / cover no-repeat;
  background-attachment: fixed;
}

.about {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("/images/about1.jpg") center center / cover no-repeat;
}

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("/images/about1.jpg") center center / cover no-repeat;
}

header {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("/images/about1.jpg") center center / cover no-repeat;
}

header .image-parent {
  min-height: 35vh;
  width: 35vh;
}

@media (min-width: 1024px) {
  header .image-parent {
    min-height: 50vh;
    width: 50vh;
  }
}
